$primary: #111;
$alt: #fff;
$secondary: #444;
$tertiary: #e26328;

.main-img {
    width: 100%;
    border-bottom: solid 4px $primary;
}
.content .single-project {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
    max-width: 500px;
    .title {
        line-height: 27pt;
        font-size: 30pt;
        font-family: 'Rubik Mono One', sans-serif;
        border-bottom: solid 4px;
        display: inline-block;
        margin-bottom: 8px;
    }
}